@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
:root{
    --cor-secundaria: #F4C27F;
    --cor-base: #8B3A3A;
    --cor-text: #000000;
    --cor-input: #FFF8F0;
    --cor-unput2: #dbc9b7;
    --cor-terciaria: #ff0000;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}