body {
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    position: absolute;
    top: 0px;
    left: 0;
    width: 1422px;

    height: 100vh;
    object-fit: fill;
    filter: brightness(60%);
}

li {

    display: flex;
    gap: 40px;

    flex-direction: row;
    align-items: center;
}

li button {
    height: 400px;
    width: 300px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0px 0px 0px 1px #2c2c2c;
    cursor: pointer;
    background-color: #e9ead0;
    color: rgb(41, 38, 38);
    font-weight: bold;

}

li button:hover {

    box-shadow: 0px 0px 10px 2px #616161;
    cursor: pointer;

}

li button img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;

}

li button span {
    font-size: 18px;
}

nav {

    position: absolute;
    top: 0;
    left: 0;
    width: 1398px;
    display: flex;
    gap: 24px;
    background-color: rgb(0, 0, 0);
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

ul {

    position: absolute;
    top: 100px;
    left: 150px;

    gap: 300px;
    padding: 40px;
    background-color: #F5F5F5;
    border: 8px solid black;

    border-radius: 30px;
    width: 1000px;
    height: 400px;

}