nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    gap: 24px;
    background-color: rgb(0, 0, 0);
    padding: 12px;
}